div {
  font-family: Courier;
  font-size: 15px;
  background-color: lightseagreen;
  border: 5px solid red;
}
body {
  background-color: lightgoldenrodyellow;
  font-family: Arial;

}
.z {
  font-family: Courier;

}
.c {
  font-family: monospace;
  border: 2px solid green;
  padding: 1px 4px;
  font-size: 10px;
  text-align: center;

}

.center {
  text-align: center;
}
